@keyframes jump{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-40px);
	}
	100%{
		transform: translateY(0);
	}
}

@keyframes rotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes skew{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: translateX(2000px);
	}
}

*{
	box-sizing: border-box;
}

body{
	display: flex;
	height: 100vh;
}

.fancy-button{
	width: 150px;
	height: 50px;
	border-radius: 4px;
	background-image: linear-gradient(45deg, yellow, red);
	border: none;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: auto;
	animation: jump .5 ease-in-out .5s, rotate .5s ease-in-out,
	skew 1s ease 2s forwards;
}