*{
	box-sizing: border-box;
}
.dropdown{
	margin: 16px; 
}
.menu-button{
	display: inline-block;
	padding: 16px;
	background-color: darkgreen;
	opacity: 0.8;
}
.menu-button:hover{
	opacity: 1;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.menu-list{
	display: none;
	padding: 0;
	margin: 0;
	background-color: lightcyan;
	color: black;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
	width: 120px;
	z-index: 1;
}
.menu-button:hover .menu-list{
	display: block;
}
.menu-item{
	padding: 16px;
	list-style-type: none;
} 
.menu-item:hover{
	background-color: ghostwhite;
}

