html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
	font-size: 74px;
	white-space: nowrap;
	overflow: hidden;
	width: 50vw;
	text-overflow: ellipsis;
	margin: auto;
}
.some-block{
	height: 200px;
	background-color: coral;
	text-align: center;
}
.some-text{
	color: white;
	text-transform: uppercase;
	line-height: 200px;
}