*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

@import 'variables.scss';

@import 'price-table.scss';

@import 'price-card.scss';

@import 'theme/green-theme.scss';

@import 'theme/blue-theme.scss';

@import 'theme/orange-theme.scss';


