@import 'variables.scss';

.price-card{
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $secondaryBgColor;
	width: 380px;
	height: 770px;
	margin-right: 18px ;
	overflow: hidden;

	&__badge{
		display: flex;
		position: absolute;
		transform: rotate(45deg);
		background-color: #DC3F45;
		width: 147px;
		height: 25px;
		top: 30px;
		right: -30px;

		&__text{
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			margin: auto;
		}
	}

	&__title{
		font-size: 35px;
		font-weight: 700;
		line-height: 43px;
		text-align: center;
		margin: 0 auto;
		margin-top: 33px;
	}

	&__subtitle{
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		margin: 0 auto;
	}
	
	&__price{
		display: flex;
		height: 105px;
		margin-top: 33px;

		&__item{
			height: 67px;
			width: 160px;
			margin: auto;
			font-size: 55px;
			font-weight: 700;
			line-height: 67px;
			text-align: center;
		}
	}

	&__descriptions{
		display: flex;
		margin: 40px auto;
		width: 327px;
		height: 36px;
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}

	&__options-list{
		margin: 0;
		padding: 0;
		list-style-type: none;

		&__item{
			height: 50px;
			display: flex;

			&__image{
				margin: auto 0;
				width: 15px;
				height: 13px;
				margin-left: 22px;
			}

			&__text{
				margin: auto 0;
				margin-left: 22px;
				font-size: 15px;
				font-weight: 300;
				line-height: 18px;
			}
		}

		&__item:nth-child(odd){
			background-color: rgba(42, 52, 56, .5);;;
		}
	}

	&__order-btn{
		width: 154px;
		height: 40px;
		border-radius: 20px;
		border: none;
		margin: 39px auto 40px;
	}
}
.price-card:last-child{
	margin-right: 0;
}