*{
	box-sizing: border-box;
}
.header{
	background-color: darkturquoise;
	height: 40px;
	width: 100%;
	position: fixed;
}
.navigation{
	height: 40px;
}
.nav-item{
	float: left;
	line-height: 0.5;
	margin-left: 16px;
	color: white;
	list-style-type: none;
}
.content{
	background-color: beige;
	height: 5000px;
}
.head{
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ear{
	width: 40px;
	height: 60px;
	background-color: brown;
}
.ear_left{
	float: left;
	margin-top: -60px;
	margin-left: -40px;
}
.ear_right{
	float: right;
	margin-top: -60px;
	margin-right: -40px;
}
.eye{
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 100%;
	margin-top: 80px;
}
.eye_left{
	float: left;
	margin-left: 40px;
}
.eye_right{
	float: right;
	margin-right: 40px;
}
