*{
	box-sizing: border-box;
}
.header{
	height: 50px;
	background-color: yellow;
}
.content{
	float: left;
	background-color: pink;
	width: 80%;
	height: 500px;
}
.sidebar{
	float: left;
	background-color: grey;
	width: 20%;
	height: 500px;
}
.footer{
	background-color: green;
	height: 50px;
	clear: both;
}