*{
	box-sizing: border-box;
}
 html{
	width: 100%;
	height: 100%;
 }
 body{
	height: 100%;
	background-color: bisque;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: monospace;
}
.login-form{
	background-color: aqua;
	width: 300px;
	padding: 16px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
}
.form-title{
	text-transform: uppercase;
	text-align: center;
}
.form-input{
	display: block;
	margin-bottom: 8px;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #808080;
	padding: 4px;
	outline: none;
}
.form-label{
	display: inline-block;
	margin-bottom: 4px;
}
.submit-button{
	display: inline-block;
	width: 100%;
	margin-top: 16px;
	height: 32px;
	background-color: #ff7f50;
	margin-top: 16px;
	text-transform: uppercase;
	color: white;
	border-radius: 4px;
}

input:invalid{
	 border: 3px solid red; 
}
input[name="userName"]:invalid{
	border: 1px solid grey;
}

