.about{
	width: 1400px;
	height: 255px;
	background-color: #F4F5F7;

	&__section{
		display: flex;
		width: 1140px;
		height: 100%;
		margin: auto;

	}

	&__item{
		width: 555px;
		height: 102px;
		margin: auto;

		&__title{
			margin: 0;
			padding: 0;
			font-size: 22px;
			font-weight: 700;
			line-height: 32px;
			height: 45px;
		}
		&__text{
			margin: 0;
			padding: 0;
		
			font-size: 22px;
			line-height: 32px;
		}
	}
	&__item:last-child{
		margin-left: 29px;
	}
}