.about{
	display: flex;
	width: 320px;
	height: 428px;
	background-color: #F4F5F7;
	margin: auto;

	&__section{
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 320px;
		height: 100%;

	}

	&__item{
		width: 290px;
		height: 180px;
		margin: auto;


		&__title{
			padding: 0;
			margin: 0;
			margin-top: 46px;
			font-size: 22px;
			font-weight: 700;
			line-height: 32px;
			height: 45px;
		}
		&__text{
			margin: 0;
			padding: 0;
			font-size: 22px;
			line-height: 32px;
		}
	}
	&__item:last-child{
		margin: auto;
		margin-top: 20px;
		margin-bottom: 46px;
	}
}
@media screen and(min-width: 321px) {
	.about{
		display: flex;
		width: 1400px;
		height: 255px;
		background-color: #F4F5F7;
		margin: auto;
	
		&__section{
			display: flex;
			flex-direction: row;
			width: 1140px;
			height: 100%;
			margin: auto;
	
		}
	
		&__item{
			width: 555px;
			height: 102px;
			margin: auto;
	
			&__title{
				margin: 0;
				padding: 0;
				font-size: 22px;
				font-weight: 700;
				line-height: 32px;
				height: 45px;
			}
			&__text{
				margin: 0;
				padding: 0;
				font-size: 22px;
				line-height: 32px;
			}
		}
		&__item:last-child{
			margin: auto;
			margin-left: 29px;
		}
	}
}