@import 'globalItem.scss';

.community{
	width: 1400px;
	background-color: #F2F2F2;;

	&__block{
		margin: 110px auto;
		width: 1140px;
	}

	&__description{
		display: flex;
	}

	&__line{
		width: 150px;
		border-top: 1px solid #000000;
		margin-top: 26px;
		opacity: .1;
	}

	&__advice{
		width: 462px;

		&__subtitle{
			color: #0189D1;
			font-size: 22px;
			font-weight: 700;
			line-height: 34px;
			margin: 0;
			margin-left: 2px;
			margin-top: 13px;
		}
		&__title{
			font-size: 56px;
			font-weight: 700;
			line-height: 56px;
			letter-spacing: -.5px;
			margin: 0;
			margin-top: 24px;
		}
		&__description{
			font-size: 24px;
			line-height: 34px;
			margin: 0;
			margin-top: 30px;
			margin-bottom: 39px;
		}
	}

	&__decoration{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 194px;

		&__image{
			max-width: 425px;
			max-height: 426px;
		}
		&__text{
			margin: 0;
			margin-top: 15px;
			font-size: 14px;
			line-height: 22px;
			opacity: .6;
		}
	}
	&__service{
		 display: flex;
		 width: 1140px;
		 margin-top: 41px;

		 &__item{
			 width: 360px;
			 height: 115px;
			 margin-right: 30px;

			 &__text{
				 margin-top: 0;
				 font-size: 18px;
				 line-height: 26px;
			 }
			 &__link{
				 display: inline-block;
				 font-size: 18px;
				 font-weight: 700;
				 line-height: 26px;
				 margin-bottom: 5px;
			 }
		 }
		 &__item:last-child{
			 margin-right: 0;
			 width: 361px;
		 }
	}
}