.features{
	width: 1140px;
	margin: auto;
	display: flex;
	margin-top: 106px;

	&__left-decorations{
		height: 166px;
		margin-left: -130px;
		margin-right: 41px;
		margin-top: 258px;
	}

	&__rigth-decorations{
		display: inline-block;
		height: 100%;
		margin-left: 126px;
		margin-right: -130px;
	}

	&__subtitle{
		font-size: 22px;
		font-weight: 700;
		line-height: 34px;
		color: #009B4D;
		margin: 0;
	}

	&__title{
		font-size: 56px;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -.5px;
		margin: 0;
		padding: 0;
		margin-top: 24px;
	}

	&__descriptions{
		margin-bottom: 0;
		margin-top: 30px;
		font-size: 24px;
		line-height: 34px;
	}

	&__advantage-header{
		display: flex;
		height: 28px;
		margin-top: 42px;
		align-items: center;
	}

	&__advantage-title{
		display: flex;
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		color: #3142C6;
		margin: 0;
		margin-left: 15px;

		&__pointer{
			display: block;
			margin-left: -13px;
			margin-top: 10px;
		}
	}
	&__advantage-descriptions{
		font-size: 18px;
		line-height: 26px;
		margin: 0;
		margin-top: 8px;
		padding-bottom: 20px;
		border-bottom: 3px solid #3142C6;
	}
	&__advantage-item{
		display: flex;
		border-bottom: 1px solid rgb(43, 41, 45, 0.15);
		margin-top: 21px;
		padding-bottom: 22px;
		 
		&__text{
			font-weight: 700;
			font-size: 22px;
			height: 28px;
			line-height: 26px;
			margin-left: 15px;
		}
	}

}