.footer{
	display: flex;
	width: 1400px;
	margin: 0 auto;
	padding-top: 43px;

	&__main{
		display: flex;
		flex-wrap: wrap;
		width: 1140px;
		margin: auto;
	}

	&__text{
		width: 360px;
		height: 85px;
		margin-top: 26px;
		font-size: 18px;
		line-height: 26px;
		opacity: .6;
	}

	.description{
		display: flex;
		flex-direction: column;

	.logo{
		display: flex;	
		width: 299px;
		height: 60px;

		&__image{
			width: 60px;
			height: 60px;
			margin-right: 15px;
		}
		&__text{
			width: 222px;
			height: 51px;
			margin-top: 4px;
		}
		&__name{
			font-size: 20px;
			font-weight: 700;
			line-height: 25px;
			color: #2B292D;
		}
		&__description{
			font-size: 18px;
			line-height: 25px;
			color: #2B292D;
			opacity: .6;
		}
	}

	.store{
		display: flex;
		margin-top: 25px;

		&__shops{
			display: inline-block;
			margin-right: 10px;
		}
	}
}

	.services{
		display: flex;
		width: 559px;
		height: 231px;
		margin-left: 126px;
		margin-top: 17px;

		&__name{
			display: inline-block;
			font-size: 22px;
			font-weight: 700;
			line-height: 28px;
			margin-bottom: 18px;
			width: 212px;
		}

		&__list{
			display: flex;
			flex-direction: column;
			width: 265px;
			height: 185px;
			
			&__link{
				display: inline;
				font-size: 18px;
				margin-bottom: 6px;
				color: #2B292D;
				height: 30px;
				text-decoration: none;
				opacity: .6;
			}
		}
	}

	&__line{
		width: 1400px;
		margin: auto -130px;
		margin-top: 59px;
		background-color: #2B292D;
		opacity: 0.1;
	}
	&__links{
		display: flex;

		.terms{
			display: flex;
			width: 180px;
			height: 22px;
			margin-top: 13px;
			margin-bottom: 15px;


			&__item{
				color: #2B292D;
				margin-right: 20px;
				font-size: 14px;
				opacity: .6;
				line-height: 22px;
				text-decoration: none;
			}
		}
		.social-links{
			display: flex;
			width: 97px;
			height: 18px;
			margin-left: 861px;
			margin-top: 15px;
			margin-bottom: 16px;

			&__item{
				margin-right: 20px;
			}

		}
	}
}	
