.top_section{
	background-color: #F3C6BD;
	padding-top: 39px;
	height: 710px;
	position: relative;
	z-index: 1;
}
.action-button{
	background-color: #3040C4;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	width: 160px;
	height: 48px;
	border: none;
	border-radius: 2px;
}