
.headline{
	width: 1140px;
	margin: auto;
	margin-top: 76px;

	&__banner{
		position: absolute;
		right: 25px;
		top: 185px;
		width: 796px;
		height: 448px;
		z-index: -1;
	}
	&__title{
		width: 754px;
		height: 165px;
		margin: 0;
		font-weight: 700;
		font-size: 80px;
		line-height: 78px;
		letter-spacing: -.5px;
	}
	&__description{
		margin-top: 34px;
		height: 102px;
		width: 456px;
		font-size: 24px;
		line-height: 34px;
	}
	&__actions{
		margin-top: 58px;
		display: flex;
	}
	&__learnMore-button{
		color: #3040C4;
		font-size: 18px;
		font-weight: 700;
		width: 158px;
		height: 48px;
		border: none;
		border-radius: 2px;
		margin-left: 10px;
	}
}