@import 'globalItem.scss';

.header{
	display: flex;
	width: 1140px;
	height: 62px;
	margin: auto;

	.logo{
		display: flex;
		
		&__image{
			width: 60;
			height: 60px;
			margin-right: 15px;
		}
		&__text{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__name{
			color: #2B292D;
			font-size: 20px;
			line-height: 25px;
			font-weight: 700;
		}
		&__description{
			color: #2B292D;
			font-size: 20px;
			line-height: 25px;
			opacity: .6;
		}	
	}

	.navigation{
		margin-left: auto;
		margin-top: 7px;
		margin-right: 75px;

		&__item{
			color:#2B292D;
			text-decoration: none;
			line-height: 25px;
			font-size: 18px;
			margin-right: 50px;

			&__selected{
				font-weight: 700;
			}
		}
		&__item:nth-child(3){
			margin-right: 0;
		}
		.navigation__arrow{
			margin-left: 11px;
		}
	}
}