@import 'globalItem.scss';


.headline{
	display: flex;
	flex-direction: column;
	width: 100%;

	.actions-button{
		width: 290px;
	}

	.learnMore-button{
		width: 290px;
	}

	&__banner{
		width: 320px;
		height: 180px;
		margin-top: 33px;
		margin-bottom: 36px;
	}
	&__title{
		width: 290px;
		height: 205px;
		margin: auto;
		margin-top: 0;
		font-weight: 700;
		font-size: 50px;
		line-height: 50px;
		letter-spacing: -.31px;
	}
	&__description{
		width: 290px;
		height: 172px;
		margin: auto;
		margin-top: 24px;
		font-size: 24px;
		line-height: 34px;
	}
}
@media  screen and (min-width: 400px) {
	.headline{
		position: relative;
		width: 1140px;
		margin: auto;
		margin-top: 76px;

		.actions{
			margin-top: 58px;
			flex-direction: row;
		}
		.learnMore-button{
			margin-left: 10px;
			margin-top: 0;
			width: 158px;
		}	
		.actions-button{
			width: 160px;
		}
		
		&__banner{
			position: absolute;
			margin-top: 0;
			left: 449px;
			top: 8px;
			width: 796px;
			height: 448px;
			z-index: -1;
		}
		&__title{
			width: 754px;
			height: 165px;
			margin: 0;
			font-weight: 700;
			font-size: 80px;
			line-height: 78px;
			letter-spacing: -.5px;
		}
		&__description{
			margin: 0;
			margin-top: 34px;
			height: 102px;
			width: 456px;
			font-size: 24px;
			line-height: 34px;
		}
	}
}