*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
	font-family: 'Work sans', sans-serif;
}
.page{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
@import 'header.scss';
@import 'footer.scss';