*{
	box-sizing: border-box;
}
.page{
	font-family: 'Work sans', sans-serif;
	display: flex;
	flex-direction: column;
	width: 1400px;
	margin: auto;
	min-height: 100vh;
}


@import 'header.scss';
@import 'footer.scss';