*{
	box-sizing: border-box;
}
html{
	font-family: 'Work sans', sans-serif;
	font-size: 16px;
	color: #2B292D;
	background-color: #F2F2F2;
}
.page{
	width: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 400px){
	.page{
		display: flex;
		flex-direction: column;
		width: 1400px;
		margin: auto;
		min-height: 100vh;
		background-color: #ffffff;
	}
}

@import 'globalItem.scss';

@import 'header.scss';

@import 'headLine.scss';

@import 'footer.scss';

@import 'about.scss';

@import 'customers.scss';

@import 'features.scss';

@import 'quote.scss';

@import 'community.scss';

@import 'categories.scss';

@import 'reviews.scss';

@import 'hiring.scss'; 
