*{
	box-sizing: border-box;
}
html{
	font-family: 'Work sans', sans-serif;
	font-size: 16px;
	color: #2B292D;
}
.page{
	display: flex;
	flex-direction: column;
	width: 1400px;
	margin: auto;
	min-height: 100vh;
}

@import 'header.scss';

@import 'headLine.scss';

@import 'footer.scss';

@import 'about.scss';

@import 'customers.scss';
