
@media screen and (min-width: 400px) {
	.quotes{
		display: flex;
		width: 1400px;
		height: 790px;
		background-color: #FCF0E3;
		margin-top: 103px;
		padding: 0 130px;
	
		&__advice{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 142px 192px 138px 53px;

			&__image{
				max-width: 425px;
				display: block;
			}
		
			&__text{
				display: block;
				margin-top: 15px;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				opacity: .6;
			}
		}
		&__service{
			display: block;
			margin-top: 115px;
	
			&__subtitle{
				color: #F1592B;
				margin: 0;
				font-weight: 700;
				font-size: 22px;
				line-height: 34px;
			}
			&__title{
				margin: 0;
				margin-top: 24px;
				font-weight: 700;
				font-size: 56px;
				line-height: 56px;
				letter-spacing: -.5px;
			}
			&__descriptions{
				margin: 0;
				margin-top: 30px;
				font-size: 24px;
				line-height: 34px;
			}
		}
		
		&__users{
			display: flex;
			flex-direction: column;
			width: 512px;
			margin-top: 44px;
			margin-left: -28px;
			border-bottom: 4px solid #0185D0;
			
	
			&__text{
				margin: 0 auto;
				width: 459px;
				margin-top: 30px;
				font-size: 20px;
				line-height: 28px;
			}
	
			&__information{
				display: flex;
				margin-top: 26px;
			}
	
			&__image{
				border: none;
				margin: 2px 11px 26px 29px;
			}
	
			&__name{
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
			}
			&__positions-held{
				font-size: 16px;
				line-height: 22px;
			}
		}
	}	
}