.reviews{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1400px;
	padding: 76px 130px 66px;
	border-bottom: 1px solid #0000001a;

	&__subtitle{
		color: #3142C6;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		text-align: center;
		margin: 0;
	}
	&__descriptions{
		width: 750px;
		height: 102px;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		margin: 0;
		margin-top: 28px;
	}
	&__supervisor{
		width: 225px;
		height: 48px;
		margin-top: 34px;
		
		&__name{
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
			margin: 0;
		}
		&__position-held{
			margin: 0;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}
	}
	&__dots{
		margin-top: 38px;
			
		&__image{
			margin-left: 13px;
		}

	}
}