@import 'variables.scss';

.header{
	background-color: $color-grey;
}	
.nav-list{
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	height: $unit * 7;

	&__item{
		background-color: $color-secondary;
		border-radius: $border-radius;
		color: $text-color-secondary;
		padding: $unit;
		margin-left: $unit;
		font-weight: 700;
		cursor: pointer;
	}
	&__item_selected{
		background-color: $color-primary;
	}
	&__item:hover{
		opacity: .7;
	}
}
