.categories{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1400px;
	background-color: rgba(0, 161, 198, .07);
	padding: 108px 130px 110px;
	margin-bottom: 13px;
	
	&__subtitle{
		margin: 0;
		font-size: 22px;
		font-weight: 700;
		line-height: 34px;
	}

	&__title{
		width: 555px;
		text-align: center;
		margin: 0;
		margin-top: 24px;
		font-size: 56px;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -.5;
	}

	&__descriptions{
		width: 555px;
		margin: 0;
		margin-top: 30px;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
	}

	.actions{
		flex-direction: row;
	}
	.learnMore-button{
		margin-top: 0;
		margin-left: 10px;
	}

	&__list{
		display: flex;
		margin-top: 111px;

		.list__item{
			width: 262px;
			margin-right: 30px;

			&__image{
				display: flex;
				margin: 0 auto;
			}
			&__text{
				font-size: 22px;
				font-weight: 700;
				line-height: 28px;
				margin: 0px;
				margin-top: 22px;
				text-align: center;

			}
		}
		.list__item:last-child{
			margin-right: 0;
		}
	}
}