.header-section{
	width: 320px;
	background-color: #F3C6BD;
	position: relative;
	z-index: 1;
}

.header{
	display: flex;
	padding: 0;
	height: 64px;
	width: 100%;
	background-color: #ffffff;
	
	.actions-button{
		display: none;
	}

	.logo{
		display: flex;
		width: 261px;
		
		&__image{
			margin: auto 0;
			width: 48px;
			height: 48px;
			margin: 8px 13px 8px 15px;
		}
		&__text{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__name{
			color: #2B292D;
			font-size: 20px;
			line-height: 25px;
			font-weight: 700;
		}
		&__description{
			display: none;
		}	
		&__menu-button{
			display: flex;
			width: 58px;
			border-left: 1px solid rgba(0, 0, 0, .15);

			&__image{
				margin: auto;
			}
		}
	}

	.navigation{
		display: none;
	}

}
@media  screen and (min-width: 320px) {
	.header-section{
		width: 1400px;
		background-color: #F3C6BD;
		padding: 39px 130px 0;
		height: 710px;
		position: relative;
		z-index: 1;
	}

	.header{
		background-color: #F3C6BD;
		display: flex;
		height: 62px;
		margin: auto;

		.actions-button{
			display: block;
		}

		.logo{
			display: flex;
			width: 321px;
			
			&__image{
				width: 60px;
				height: 60px;
				margin: 0;
				margin-right: 15px;
			}
			&__text{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			&__name{
				color: #2B292D;
				font-size: 20px;
				line-height: 25px;
				font-weight: 700;
			}
			&__description{
				display: block;
				color: #2B292D;
				font-size: 20px;
				line-height: 25px;
				opacity: .6;
			}	
			&__menu-button{
				position: absolute;
				display: none;
			}
		}

		.navigation{
			display: block;
			margin-left: auto;
			margin-top: 7px;
			height: 25px;
			margin-right: 75px;

			
		&__item{
			color:#2B292D;
			text-decoration: none;
			line-height: 25px;
			font-size: 18px;
			margin-right: 50px;

			&__selected{
				font-weight: 700;
			}
		}
		&__item:nth-child(3){
			margin-right: 0;
		}
		&__arrow{
			margin: auto;
			width: 8px;
			height: 5px;
			margin-left: 11px;
		}

		}
	}
}
