.hiring{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1400px;
	padding: 106px 130px 110px;

	.actions-button{
		width: 247px;
		margin-top: 28px;
	}

	&__title{
		font-size: 56px;
		font-weight: 700;
		line-height: 56px;
		width: 555px;
		height: 62px;
		margin: 0;
		text-align: center;
	}
	&__descriptions{
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		width: 555px;
		height: 72px;
		margin: 0;
		margin-top: 20px;
	}

	&__jobs{
		width: 750px;
		margin-top: 110px;
	}
	.jobs-item{
		display: flex;
		align-items: center;
		width: 750px;
		height: 81px;
		margin-bottom: 20px;
		border: 1px solid rgba(43, 41, 45, .2);
		border-radius: 8px;
		
		&__name{
			width: 408px;
			height: 29px;
			font-size: 22px;
			font-weight: 700;
			line-height: 28px;
			margin-left: 25px;
		}
		&__place{
			width: 232px;
			height: 26px;
			font-size: 18px;
			line-height: 24px;
			opacity: .6;
			margin-left: 20px;
		}
		&__arrow{
			width: 7.5px;
			height: 12px;
			margin-left: 33px;
		}
	}

	.jobs-item:last-child{
		margin-bottom: 0;
	}
	.jobs-item:hover{
		background-color: #3141C5;
		color: #ffffff;
		cursor: pointer;
		opacity: 1;
	}
	.jobs-item:hover .jobs-item__arrow{
		filter: invert(100%);
	}
}