*{
	box-sizing: border-box;
}
div{
	margin: 50px;
	width: 100px;
}
.rectangle{
	height: 50px;
	background-color: forestgreen;
	border-radius: 16px;
}
.oval{
	height: 50px;
	background-color: darkmagenta;
	border-radius: 50%;
}
.circle {
	height: 100px;
	background-color: aquamarine;
	border-radius: 100px;
}
.triangle{
	height: 100px;
	border: 50px solid transparent;
	border-top-color: brown;
}