
*{
	box-sizing: border-box;
}
.header{
	background-color: darkturquoise;
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 2;
}
.nav-list{
	height: 40px;
	margin: 0;
}
.nav-item{
	float: left;
	line-height: 2.5;
	margin-left: 16px;
	color: white;
	list-style-type: none;
}
.content{
	background-color: beige;
	height: 5000px;
	
}
.head{
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	background-position: 50% 50%;
	position: absolute;
	top: calc(50% - 200px / 2);
	left: calc(50% - 200px / 2);
	z-index: 1;
}
.ear{
	width: 40px;
	height: 60px;
	background-color: brown;
	margin-top: -60px;
}
.ear_left{
	float: left;
	margin-left: -40px;
}
.ear_right{
	float: right;
	margin-right: -40px;
}
.eye{
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 100%;
	margin-top: 80px;
}
.eye_left{
	float: left;
	margin-left: 40px;
}
.eye_right{
	float: right;
	margin-right: 40px;
}
