*{
	box-sizing: border-box;
}
.conteiner{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.square{
	width: 100px;
	height: 100px;
	margin: 8px;
	background-color: #8a2be2;
}

@media screen and (max-width: 600px) {
	.square{
		background-color: #ff7f50;
	}
}
@media  screen and (orientation: portrait) {
	.conteiner{
		flex-direction: column;
	}
}
