$min: 600px;
$mdl: 900px;
$lrg: 1200px;

@mixin for-mini-screen {
	@media screen and (max-width: $min - 1){
		@content;
	}	
}
@mixin for-min-screen {
	@media screen and (min-width: $min){
		@content;
	}	
}
@mixin for-middle-screen {
	@media (min-width: $mdl) {
		@content;
	}	
}
@mixin for-large-screen {
	@media (min-width: $lrg) {
		@content;
	}	
}
@mixin landscape {
	@media  screen and (orientation: landscape){
		@content;
	}
}
@mixin portrait {
	@media  screen and (orientation: portrait){
		@content;
	}
}