body{
	background-color: antiquewhite;
}
.box{
	margin: 16px;
	padding: 16px;
	width: 512px;
	height: 128px;
	border: 8px solid black;
}
.box1{
	background-color: aquamarine;
	box-sizing: content-box;
}

.box2{
	background-color: azure;
	box-sizing: border-box;
}