*{
	box-sizing: border-box;
}
.container{
	float: left;
	width: 50%;
}
.square{
	width: 100px;
	height: 100px;
}
.green{
	background-color: green;
	float: left;
}
.red{
	background-color: red;
	float: right;
}
.footer{
	clear: both;
}