*{
	box-sizing: border-box;
}

.block{
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: center;
}
.navigation{
	display: flex;
	background-color: #ff7f50;
	flex-grow: 1;
}

.products{
	display: flex;
	background-color: #006400;
	flex-grow: 1;
}

.news{
	display: flex;
	background-color: #0ff;
	flex-grow: 1;
}

.text{
	position: absolute;
	text-transform: lowercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 8px;
	background-color: #faebd7;
	border-radius: 4px;	
}
@media screen and (min-width: 600px) {
	.section{
		display: flex;
		flex-grow: 2;
	}
}
@media screen and (min-width: 900px) {
	.content{
		display: flex;
		flex-grow: 1;
	}
}