$min: 600px;
$mdl: 900px;
$lrg: 1200px;

@mixin for-min-screen {
	@media screen and (min-width: $min) {
		@content;
	}
}
@mixin for-middle-screen {
	@media screen and (min-width: $mdl) {
		@content;
	}
}
@mixin for-large-screen {
	@media screen and (min-width: $lrg) {
		@content;
	}
}
