@import 'breakpoints.scss';

*{
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.square{
	width: 100px;
	height: 100px;
	background-color: #ff7f50;
	margin-bottom: 8px;

	@include for-min-screen{
		background-color: #8a2be2;
	}
	@include for-middle-screen{
		background-color: #a61;
	}
	@include for-large-screen{
		background-color: #c47;
	}
}
@media screen and (orientation:portrait) {
	body{
		flex-direction: row;
	}
}