
div{
	border: 2px solid black;
	padding: 50px;
}
.box1{
	margin: 50px 50px;
	background-color: blue;
}
.box2{
	background-color: yellow;
}
.box3{
	background-color: green;
}
.box4{
	background-color: pink;
}




