*{
	box-sizing: border-box;
}
.text{
	display: inline-block;
	margin: 16px;
	border-bottom: 1px dotted black;
}
.tooltip{
	 display: none; 
}
.tooltip{
	position: absolute;
	top: 40px;
	left: 16px;
	background-color: grey;
	color: white;
	border-radius: 4px;
	padding: 8px;
}
.text:hover .tooltip{
	display: block;
}
