*{
	box-sizing: border-box;
}
.text{
	margin: 16px;
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px dotted black;
}
.tooltip{
	display: flex;
	top: 40px;
	position: absolute;
	background-color: grey;
	color: white;
	border-radius: 4px;
	padding: 8px;
}