*{
	box-sizing: border-box;
}
.image-container{
	margin: 50px 0;
}
.main-image{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 20px;
	max-width: 100%;
}
.gallery{
	display: flex;
}
.card{
	margin: 16px;
	box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, .75);
}
.subscription{
	line-height: 30px;
	text-align: center;
	text-transform: lowercase;
}
.opacity{
	filter: opacity(50%);
}
.blur{
	filter: blur(4px);
}
.invert{
	filter: invert(100%);
}
