*{
	box-sizing: border-box;
}
.main-form{
	display: block;
	margin: 32px;
}
.input-form{
	display: block;
	margin: 8px;
}
label{
	margin-left: 5px;
}
input[type="checkbox"]{
	margin-top: 1px;
	margin-bottom: 15px;
}