$unit: 4px;

$border-radius: 4px;

@mixin for-min-screen {
	@media  screen and (max-width: 599px) {
		@content;
	}
}
@mixin for-middle-screen {
	@media  screen and (min-width: 600px) {
		@content;
	}
}
@mixin for-large-screen {
	@media  screen and (min-width: 900px) {
		@content;
	}
}

