* {
  box-sizing: border-box;
}

html {
  font-family: "Work sans", sans-serif;
  font-size: 16px;
  color: #2B292D;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  min-height: 100vh;
}

.action-button {
  background-color: #3040C4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 2px;
}

.header-section {
  background-color: #F3C6BD;
  padding-top: 39px;
  height: 710px;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
}
.header .logo {
  display: flex;
}
.header .logo__image {
  width: 60;
  height: 60px;
  margin-right: 15px;
}
.header .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .logo__name {
  color: #2B292D;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.header .logo__description {
  color: #2B292D;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.6;
}
.header .navigation {
  display: flex;
  margin-left: auto;
  margin-top: 7px;
  width: 273px;
  height: 25px;
  margin-right: 75px;
}
.header .navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.header .navigation__item__selected {
  font-weight: 700;
}
.header .navigation__item:nth-child(3) {
  margin-right: 0;
}
.header .navigation__arrow {
  margin: auto;
  width: 8px;
  height: 5px;
  margin-left: 11px;
}

.headline {
  width: 1140px;
  margin: auto;
  margin-top: 76px;
}
.headline__banner {
  position: absolute;
  right: 25px;
  top: 185px;
  width: 796px;
  height: 448px;
  z-index: -1;
}
.headline__title {
  width: 754px;
  height: 165px;
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
}
.headline__description {
  margin-top: 34px;
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
}
.headline__actions {
  margin-top: 58px;
  display: flex;
}
.headline__learnMore-button {
  color: #3040C4;
  font-size: 18px;
  font-weight: 700;
  width: 158px;
  height: 48px;
  border: none;
  border-radius: 2px;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__navigation {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  height: 338px;
}
.footer__navigation .about-company {
  margin-top: 44px;
}
.footer__navigation .logo {
  display: flex;
}
.footer__navigation .logo__image {
  width: 60;
  height: 60px;
  margin-right: 15px;
}
.footer__navigation .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__navigation .logo__name {
  color: #2B292D;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.footer__navigation .logo__description {
  color: #2B292D;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.6;
}
.footer__navigation__description {
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: #2B292D;
  opacity: 0.6;
}
.footer__navigation .downloads {
  margin-top: 25px;
}
.footer__navigation .downloads__item {
  margin-right: 10px;
}
.footer__navigation .services {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
}
.footer__navigation .services__title {
  font-size: 22px;
  font-weight: 700;
  color: #2B292D;
  margin: 0;
}
.footer__navigation .services__links {
  width: 265px;
  margin-right: 29px;
}
.footer__navigation .services__links:last-child {
  margin-right: 0px;
}
.footer__navigation .services__list {
  list-style-type: none;
  margin-top: 18px;
}
.footer__navigation .services__list__item {
  line-height: 35px;
}
.footer__navigation .services__list__link {
  font-size: 18px;
  text-decoration: none;
  color: #2B292D;
  opacity: 0.6;
}
.footer__line {
  width: 100%;
  border-top: 1px solid #2B292D;
  opacity: 0.1;
  margin: 0;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 50px;
  margin: 0 auto;
}
.footer__links .terms {
  line-height: 50px;
}
.footer__links .terms__item {
  text-decoration: none;
  font-size: 14px;
  color: #2B292D;
  opacity: 0.6;
  margin-right: 22px;
}
.footer__links .social-link {
  line-height: 50px;
}
.footer__links .social-link__item {
  margin-left: 20px;
}

/*# sourceMappingURL=styles.css.map */
