*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
	font-family: 'Work sans', sans-serif;
}
.page{
	width: 1400px;
	margin: auto;
}
.top__section{
	padding-top: 39px;
	background-color:#F3C6BD;
}
.header{
	display: flex;
	width: 1140px;
	height: 62px;
	margin: auto;
}
.header__button{
	background-color: #3040C4;
	color: #ffffff;
	width: 160px;
	height: 48px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 2px;
	border:none;
}

/* Navigation site */
.navigation{
	margin-left: auto;
	margin-top: 7px;
	margin-right: 75px;
}
.navigation__item{
	color: #2B292D;
	text-decoration: none;
	line-height: 25px;
	font-size: 18px;
	margin-left: 50px;
}
.navigation__item_selected{
	font-weight: 700;
}
.navigation__arrow{
	display: inline-block;
	background-image: url(images/arrow.png);
	width: 8px;
	height: 5px;
	margin-left: 11px;
}

.logo{
	display: flex;
}
.logo__image{
	width: 60px;
	height: 60px;
	margin-right: 15px;;
}
.logo__text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo__name{
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}
.logo__description{
	font-size: 18px;
	line-height: 25px;
	color: #2B292D;
	opacity: 0.6;
}