.list{
	list-style-type: none;
}
.list li{
	font-size: 1.5em;;
}
.list li:last-child{
	text-decoration-line: underline;
	text-decoration-color: green;
}
.list li:nth-child(2){
	text-decoration: line-through;
}
.list li:first-child{
	text-decoration: overline;
}