.list{
	list-style-type: none;
}
.list li{
	font-size: 1.5em;;
}
.third{
	text-decoration-line: underline;
	text-decoration-color: green;
}
.second{
	text-decoration: line-through;
}
.first{
	text-decoration: overline;
}