*{
	box-sizing: border-box;
}
.main-table{
	width: 500px;
	margin: 16px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}
td, th{
	border: 1px solid black;
	padding: 4px;
}
tr{
	line-height: 40px;
}
.main{
	overflow-x:auto;
}
tbody > tr:nth-child(odd){
	background-color: #f2f2f2;
}
tbody > tr:hover{
	background-color: #aaa;
	color: #fff;
}
.caption{
	margin-bottom: 8px;
}
.footer-table{
	font-weight: 700;
}
.head-table{
	background-color: aqua;
}