*{
	box-sizing: border-box;
}
html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.header{
	display: flex;
	align-items: center;
	height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #eeeeee;
}
.fa-bars{
	font-size: 2em;
}
.btn{
	padding: 0;
	border: none;
	background-color: #fff;
	cursor: pointer;
}
.nav-list{
	padding: 0;
	list-style-type: none;
}
.navigation{
	width: 20%;
	padding: 0.5em;
	visibility: hidden;
}
.nav-list-item{
	display: flex;
	background-color: #808080;
	color: #ffffff;
	height: 2em;
	margin-bottom: 0.5em;
}
.nav-list-link{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0.5em;
	text-decoration: none;
	color: #ffffff;
}
@media screen and (min-width: 600px) {
	.btn{
		visibility: hidden;
	}
	.navigation{
		visibility: visible;
	}
}