@import 'variables.scss';

.header{
	display: flex;
	background-color: $color-primary;
	line-height: 3em;
}
.menu{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 3em;
	text-transform: uppercase;
	height: 3em;
	cursor: pointer;

	&__item{
		padding: 0 $unit;
		text-align: center;

		&_active{
			color: yellow;
		}
		&_active:hover .submenu{
			visibility: visible;
		}
	}
	&__item:hover{
		background-color: $color-secondary;
	}

	.submenu{
		position: absolute;
		padding: 0;
		margin: 0;
		background-color: $color-coral;
		color: $text-color-primary;
		list-style-type: none;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
		z-index: 1;
		visibility: hidden;

		&__item{
			width: $unit * 15;
			text-align: left;
		}
		&__item:hover{
			color:$text-color-secondary;
		}
	}
}