$base-font-size: 16px;
$base-font-family: Verdana, Geneva, Tahoma, sans-serif;

$unit: 8px;

$color-primary: #006400;
$color-secondary: #9acd32;
$color-coral: #ff7f50;
$text-color-primary: #fff;
$text-color-secondary: #000;
