div{
	margin: 50px;
}
.rectangle{
	width: 100px;
	height: 50px;
	background-color: forestgreen;
	border-radius: 16px;
}
.oval{
	width: 100px;
	height: 50px;
	background-color: darkmagenta;
	border-radius: 50%;
}
.circle {
	width: 100px;
	height: 100px;
	background-color: aquamarine;
	border-radius: 100px;
}
.triangle{
	width: 50px;
	height: 50px;
	border: 25px solid transparent;
	border-top: 25px solid brown;
}