*{
	box-sizing: border-box;
}
input[type="checkbox"]{
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkmark{
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #d3d3d3;
	top: 0;
	left: 0;
}
.checkbox{
	display: inline-block;
	position: relative;
	font-size: 24px;
	margin: 16px;
	padding-left: 35px;
}
.checkbox input:checked + .checkmark{
	background-color: #006400;
}