*{
	box-sizing: border-box;
}
.dropdown{
	margin: 16px;
	color:white;
	display: inline-block;
	font-size: 16px;
}
.menu-button{
	display: inline-block;
	padding: 16px;
	background-color: darkgreen;
	opacity: 0.8;
}
.menu-button:hover{
	opacity: 1;
	cursor: pointer;
}
.menu-list{
	display: none;
	position: absolute;
	color: black;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	list-style-type: none;
	background-color: lightcyan;
	margin: 0;
	padding: 0;
	width: 120px;
	z-index: 1;
}
.dropdown:hover .menu-list{
	display: block;
}
.menu-item{
	padding: 16px;
}
.menu-item:hover{
	background-color: ghostwhite;
}
