*{
	box-sizing: border-box;
}
.block{
	height: 200px;
	display: flex;
}
.navigation{
	background-color: #ff7f50;
	flex-grow: 1;
}

.products{
	background-color: #006400;
	flex-grow: 1;
}

.news{
	background-color: #0ff;
	flex-grow: 1;
}

.text{
	text-transform: lowercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 8px;
	background-color: #faebd7;
	border-radius: 4px;	
	margin: auto;
}
@media screen and (min-width: 600px) {
	.section-1{
		display: flex;
		flex-grow: 2;
	}
	.section-2{
		display: flex;
		flex-grow: 1;
	}
}
@media screen and (min-width: 900px) {
	.content{
		display: flex;
	}
}