*{
	box-sizing: border-box;
}
html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #555;
	font-size: 16px;
	min-height:100vh;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: linear-gradient(60deg, red, orange);
	color:#fff;
}
.footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #e5e5e5;
	padding: 0.5em;
}
.main{
	display: flex;
	flex: 1 0 auto;	
}
.news{
	width: 20%;
	padding: 0.5em;
}
.navigation{
	width: 20%;
	padding: 0.5em;
}
.section{
	width: 60%;
	padding: 0.5em;
	font-size: 1.25em;
}
.units-list{
	line-height: 1.75em;
}
.css-units{
	color: #8b0000;
	background-color: #e5e5e5;
	font-size: 1.125em;
	font-weight: 700;
}
.section__header{
	font-size: 5vw;
	text-align: center;
}
.nav-list{
	padding: 0;
	list-style-type: none;
}
.nav-list-item{
	background-color: #808080;
	color:#fff;
	margin-bottom: .5em;
	line-height: 2em;
}
.nav-list-link{
	display: block;
	font-size: 16px;
	margin: 0 .5em;
	text-decoration: none;
	color:#fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
