@import 'variables.scss';

.price-tables{
	background-color: $mainBgColor;
	color: $mainTextColor;
	font-family: 'Montserrat';
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

