.icon{
	margin: 100px;
	width: 100px;
	height: 100px;
	background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task2/sprites.png);
	background-position: -200px 200px;
}

.icon:hover{
	background-position: -200px 300px;
}