@keyframes opacity{
	0%{
		opacity: 0;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

@keyframes indicator{
	0%{
		 border-top: 4px solid black;
	}
	25%{
		border: 4px solid lightgrey;
		border-right: 4px solid black;
	}
	50%{
		border: 4px solid lightgrey;
		border-bottom: 4px solid black;
	}
	75%{
		border: 4px solid lightgrey;
		border-left: 4px solid black;
	}
	100%{
		border: 4px solid lightgrey;
		border-top: 4px solid black;
	}
}

*{
	box-sizing: border-box;
}

.container{
	display: flex;
	height: 100vh;
}

.spinner{
	margin: auto;
}

.spinner-text{
	font: 16px monospace;
	text-transform: uppercase;
	animation: opacity linear infinite 2s;
}

.circle{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 4px solid lightgrey;
	border-top: 4px solid black;
	border-radius: 50px;
	margin-bottom: 8px;
	animation: indicator linear infinite 2s;
}
